.maps{
    background: url(../img/maps.png) no-repeat center;
    background-size: cover;
    max-width: 100%;
    color: #ffff;
    text-align: center;
    height: 449px;
    margin-top: 230px;
  }
  
  .foot{
    background: #C8A35F;
    width: 100%;
  }

  .footer_flex{
      display: flex;
      text-align: center;
      height: 161px;
  }
  
   .footer_logo{
   display: flex;
   align-items: center;
   }
   
  
  .foot_text{
    display: flex;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #F2F2F2;
    opacity: 0.8;
    align-self: center;
    flex-direction: column;
    margin-left: 30px;
  }

  
  .footer_link_email{
    color: #2F343A;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
    display: flex;
  }
  
  .footer_tel{
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #F2F2F2;
    display: flex;
    align-self: center;
    flex-direction: column;
    margin-left: 89px;
  }
  
  .footer_tel p.header_tel{
    margin-top: 10px;
  }


  .footer_developer{
    display: flex;
    align-items: center;
    margin-left: auto;
    color: #2F343A;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    text-decoration-line: underline;
  }

  