
@media all and (min-width: 1108px) and (max-width: 1280px){
    .main_font{
        width: 360px;
    }
    .main_font_right{
        width: 360px;
    }
    }

  @media all and (min-width: 800px) and (max-width: 1108px){
        .main_font{
            width: 240px;
        }
        .main_font_right{
            width: 240px;
        }
        .main_text{
            display: none;
        }
        .main_title_font{
            width: 43%;
            padding-left: 5px;
        }
        .main_border{
            margin-top: 60px;
        }
        .main_services{
            padding-left: 5px;
        }
        .main_services_box{
            justify-content: center;
        }
        .services_box{
            margin-right: 2px;
            margin-bottom: 2px;
        }
        .main_company_block{
            padding-left: 5px;
            width: 48%;
        }
        .main_border_company{
            margin-top: 60px;
        }
        .company_box{
            justify-content: flex-start;
        }
        .main_company_box{
            display: none;
        }
        .main_company_text{
            width: 340px;
            po
        }
        .maps{
            margin-top: 60px;
        }
        .footer_tel{
            margin-left: 50px;
        }
        }

@media (max-width: 799px){
    .nav_text{
        display: none;
    }
    .nav_logo_vector{
        display: none;
    }
    .nav{
        padding-top: 0;
        padding-bottom: 0;
    }
    .intro_main{
        padding: 0;
        margin: 0 20px;
    }
    .main_wotd_img{
        display: block;
        position: absolute;
        opacity: .3;
        right: 0;
    }
    .main_text{
        display: none;
    }
    .main_font{
        display: none;
    }
    .main_font_right{
        display: none;
    }
    .main_title_font{
        margin-left: 20px;
    }
    .main_border{
     margin-top: 60px;
     margin-left: 20px;
    }
    .main_wotd_list{
        margin-left: 20px;
    }
    .main_company_box{
        display: none;
    }
    .main_company{
        display: flex;
        flex-flow: row wrap;
    }
    .main_company_block{
        margin-left: 20px;
    }
    .main_border_company{
        margin-top: 60px;
    }
    .main_company_text{
        width: 100%;
    }
    button {
        margin-bottom: 0px;
    }
    .company_box{
        display: flex;
        justify-content: center;
    }
    .maps{
        margin-top: 60px;
}
    .foot_text{
        display: none;
    }
    .footer_tel{
        margin: 0 auto;
    }
  
}

 

 