html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/roboto-v20-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #ffffff;
  background-color: #2f343a;
}

/* header start */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  z-index: 2;
}

.wrapper_header {
  width: 100%;
  background-color: #c8a35f;
}

.conteiner_list {
  max-width: 1108px;
  margin: 0 auto;
}
.wrapper_header_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header_list {
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  font-size: 12px;
}

.header_item {
  padding-left: 10%;
}

a {
  text-decoration: none;
  color: #ffff;
}

a:hover,
a:focus,
a:active {
  opacity: 0.75;
}

.header_tel {
  font-size: 12px;
}

.header_nav {
  width: 100%;
  margin: 0 auto;
  background-color: #2f343a;
}

.nav {
  padding-top: 27px;
  padding-bottom: 27px;
}

ul,
li {
  list-style: none;
}

.nav_logo {
  padding-right: 30px;
  border-right: 1px solid #f2f2f2;
  display: inline-block;
}

.nav_logo_vector {
  padding-left: 33px;
  padding-right: 13px;
  display: inline-block;
  position: absolute;
  padding-top: 12px;
}

.nav_text {
  line-height: 16px;
  letter-spacing: 0.05em;
  display: inline-block;
  position: absolute;
  padding-top: 17px;
  padding-left: 65px;
}

.nav_list {
  float: right;
  padding-top: 17px;
}

.nav_item {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.nav_list_item {
  display: inline-block;
  padding-right: 30px;
}
.nav_list_item:last-child {
  padding: 0;
}
/* header end */

/* intro star */

.main {
  padding-top: 155px;
}

.intro {
  background: url(../img/back_intro.jpg) no-repeat center;
  background-size: cover;
  max-width: 100%;
  color: #ffff;
  text-align: center;
  height: 620px;
  padding: 155px 500px 225px;
}

.intro_main {
  border: 1px solid #c8a35f;
  padding: 45px 72px;
  display: inline-block;
  max-width: 777px;
}

.intro_main_title {
  font-weight: 700;
  font-size: 48px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.intro_main_text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.intro_link {
  display: block;
  margin-top: 140px;
}
/* intro end */

/* main_wotd start */



.main_font {
  position: absolute;
  left: 0;
  width: 725px;
  height: 561px;
  background-color: #393f47;
}

.main_title {
  display: flex;
  position: relative;
}

.main_border {
  position: relative;
  margin-top: 120px;
}
.main_wotd_title {
  display: inline-block;
  max-width: 480px;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 40px;
}

.main_wotd_text {
  font-size: 18px;
  line-height: 28px;
  margin-top: 30px;
  max-width: 480px;
  padding-right: 50px;
  margin-bottom: 50px;
}
button {
  padding: 18px 48px;
  background-color: #c8a35f;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffff;
  margin-bottom: 129px;
}

.main_wotd_img {
  margin-top: 166px;
  z-index: 2;
}

.main_font_right {
  position: absolute;
  right: 0;
  top: 0;
  width: 725px;
  height: 561px;
  background-color: #393f47;
  margin-top: 775px;
  z-index: 1;
}

.main_wotd_text{
  z-index: 2;
}

.main_left_text {
  position: relative;
  left: 29px;
  top: 165px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.main_right_text {
  position: relative;
  left: 125px;
  top: 421px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.right_arrow {
  position: absolute;
  display: inline-block;
  padding-left: 31px;
}

.left_arrow {
  position: absolute;
  display: inline-block;
  left: -95px;
}

.main_wotd_list{
font-weight: 700;
font-size: 40px;
line-height: 49px;
letter-spacing: 0.05em;
text-transform: uppercase;
margin-top: 40px;
margin-bottom: 60px;
}

/* main_wotd end */

/* main_services start */

.main_services{
display: block;
}

.main_services_box{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
article {
  width: 275px;
  height: 180px;
  margin-top: 2px;
}
article.services_box.gold{
  background: #C8A35F;
}

article.services_box{
  background: #393F47;;
}

.services_box_plane_black{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #ffff;
  line-height: 85px;
  text-align: center;
  position: relative;
  top: 35px;
  left: 103px;
}

.services_box_text{
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: relative;
  top: 93px;
  left: 42px;
}

.services_box_plane_white{
  position: relative;
  top: 55px;
  left: 103px;
}

.services_box_text_black{
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: relative;
  top: 55px;
  left: 42px;
}
/* main_services end */

/* main_company start */

.main_company{
  display: flex;
}

.main_border_company{
  margin-top: 200px;
}

.main_company_list{
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 30px;
  }

  .main_company_text{
    font-size: 16px;
    line-height: 23px;
    width: 445px;
    display: inline-block;
    z-index: 2;
    position: relative;
  }

  .main_company_box{
    width: 410px;
    height: 482px;
    background: #393F47;
    display: block;
    position: absolute;
    margin-top: 120px;
    z-index: 1;
    left: 40%;

  }.company_box_flex{
    width: 200px;
    height: 160px;
    border: 0.25px solid #C8A35F;
    background: #FFFFFF;
  }

  .company_flex{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2F343A;
  }  

  .company_flex_four{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #2F343A;
  }

  .company_flex_five{
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #2F343A;
  }
  .company_box{
    display: flex;
    flex-flow: row wrap;
    z-index: 1;
    margin-top: 200px;
    margin-left: 63px;
  }

  .company_box_flex{
    margin: 0;
  }
/* main_company end */

/* footer start */

.maps{
  background: url(../img/maps.png) no-repeat center;
  background-size: cover;
  max-width: 100%;
  color: #ffff;
  text-align: center;
  height: 449px;
  margin-top: 230px;
}

.foot{
  background: #C8A35F;
  width: 100%;
}

 .footer_logo{
   display: inline-block;
   width: 160px;
    height: 46px;
    margin-top: 60px;
    margin-bottom: 55px;
 }

.footer_logo_link{
  padding-top: 31px;
}

.foot_text{
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #F2F2F2;
  opacity: 0.8;
  margin-left: 30px;
}

.footer_tel{
  display: inline-block;
}

.footer_tel{
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #F2F2F2;
}

.footer_developer{
  float: right;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  text-decoration-line: underline;
  color: #2F343A;
  margin-top: 88px;
}

.footer_link_email{
  color: #2F343A;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.footer_tel{
  margin-left: 89px;
}

.header_tel{
  padding-bottom: 10px;
}
/* footer end */